FieldSelectorScreen {
    align: center middle;
}

.FieldSelectorList {
    width: 50%;
    height: auto;
    scrollbar-size: 1 1;
}

.FieldSelectorItem {
    width: 100;
    margin: 1 1;
    grid-size: 3;
    grid-columns: 10 5 auto;
    grid-gutter: 0 5;
    height: 1;
}

.FieldSelectorHeader {
    text-style: bold;
    text-align: center;
}

.PlotterLegend {
    width: 4;
    margin: 1 1;
    scrollbar-size: 1 1;
}

#advanced_footer {
    text-align: right;
    dock: bottom;
    width: auto;
    background: $panel;
}

#advanced_footer > Label {
    text-align: right;
    width: 100%;
    background: $panel;
    border-bottom: black;
}

.highlight_iter {
    text-style: bold reverse;
}
.highlight_iter_wraparound {
    text-style: bold reverse;
    color: red;
}

#plotter_grid {
    grid-size: 1;
}

Plotter {
    padding: 1 2;
}