FieldSelectorScreen {
    align: center middle;
}

.FieldSelectorList {
    width: 50%;
    height: auto;
    scrollbar-size: 1 1;
}

.FieldSelectorItem {
    width: 100;
    margin: 1 1;
    grid-size: 3;
    grid-columns: 10 5 1fr;
    grid-gutter: 0 5;
    height: 1;
}

.FieldSelectorHeader {
    text-style: bold;
    text-align: center;
}

.PlotterLegend {
    width: 3;
    margin: 1 1;
    scrollbar-size: 1 1;
}

Grid {
    grid-size:2;
}

Plotter {
    padding: 1 2;
}