<launch>

<!--
  <include file="$(find reemc_gazebo)/launch/reemc_empty_world.launch">
  </include>

  <include file="$(find reemc_controller_configuration)/launch/joint_trajectory_controllers.launch">
  </include>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find assignment2)/rviz/reemc_zmp_com_cp_visualization.rviz" />

-->

  <node pkg="jacobian" name="jacobian123" type="jacobian.py" output="screen"/>
<!--
-->

</launch>


